<template>
  <div id="drawer-menu" class="bg-default pt-12 flex justify-between flex-col">
    <div id="close-icon" class="cursor-pointer w-7 h-6 mr-1">
      <img src="icons/close.svg" alt="Close" />
    </div>
    <nav class="nav pt-10">
      <a href="/" class="menu-link">Home</a>
      <a href="/portfolio" class="menu-link">Portfolio</a>
      <a href="/services" class="menu-link">Services</a>
      <a href="/contact" class="menu-link">Contact</a>
    </nav>

    <p class="text-gray-200 p-4 text-sm text-center credits">
      Created by
      <a
        href="https://www.linkedin.com/in/renatolinsdigital/"
        target="_blank"
        class="ml-0.5">
        Renato Lins
      </a>
    </p>
  </div>
</template>
