/* App layout */

:root {
  --max-page-width: 1280px;
}

body {
  display: grid;
  overflow: hidden;
  grid-template-rows: min-content 1fr min-content;
}

body.is-home {
  display: flex;
  overflow: auto;
  flex-direction: column;
}

body.is-home > header {
  top: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
}
