/* Layout */

:root {
  --max-page-width: 1280px;
}

body {
  display: grid;
  overflow: hidden;
  grid-template-rows: min-content 1fr min-content;
}

body.is-home {
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.page, .container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: var(--max-page-width);
}

.page.full, section.full {
  padding: 0;
  min-width: 100%;
  max-width: 100%;
}

/* Helper classes */

.is-hidden {
  display: none;
}

.subtitle {
  padding: .9rem;
  font-size: 1rem;
  letter-spacing: .4rem;
  color: var(--dirty-snow);
  text-transform: uppercase;
  border-bottom: 1px solid var(--dirty-snow);
}

.text-alternative {
  color: var(--dirty-snow);
}

/* Drawer menu and overlay */

#drawer-menu {
  top: 0;
  z-index: 10;
  width: 300px;
  height: 100%;
  right: -300px;
  position: fixed;
  will-change: transform;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
  transition: transform 0.3s ease-out;
}

.open-menu #drawer-menu {
  transform: translateX(-300px);
}

.nav {
  display: flex;
  user-select: none;
  flex-direction: column;
}

.nav a {
  font-size: 1.1rem;
  color: var(--snow2);
  border-radius: .2rem;
  padding: 1rem 1.5rem;
}

#overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
  display: none;
  cursor: pointer;
  position: fixed;
  transition: 3s all ease;
  animation: fadein .2s linear forwards;
  background-color: var(--overlay-transparency);
}

.open-menu #overlay {
  display: flex;
}

#close-icon {
  top: 30px;
  right: 30px;
  position: absolute;
}

/* Social Links/Icons */

.social {
  display: flex;
}

.social a {
  padding: 12px;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.social a:hover {
  background-color: var(--white);
}

.social img,
#close-icon img,
#burger-icon img {
  transition: all .2s ease;
}

.social a:hover img {
  filter: invert(80%);
}

#close-icon:hover img,
#burger-icon:hover img {
  filter: invert(20%);
}

/* Page: Home */

.welcome {
  flex: 1;
  display: flex;
  align-items: center;
  filter: contrast(0.9);
  background-size: cover;
  justify-content: center;
  background-position: top;
  background-repeat: no-repeat;
  min-height: calc(100vh - 138px);
  background-image: url('../images/home-bg.png');
}