/* = TYPOGRAPHY = */

/* We could define/import a custom font family here */

html,
body {
  font-size: 16px;
  /* We could use a custom font family here */
}

/* = COLOR PALETTE = */

:root {
  /* identity */
  --primary-color: #1f2937;
  --tertiary-color: #7caab8;
  --accent-color-1: #ffc107;
  --accent-color-2: #00bcd4;
  --secondary-color: #3e5775;
  --primary-dark-color: #111820;

  /* neutrals */
  --white: #ffffff;
  --snow1: #fbfcfc;
  --snow2: #f4f6f6;
  --gray1: #e1e2e2;
  --gray2: #c4c4c5;
  --gray3: #a6a7a8;
  --gray4: #888a8b;
  --gray5: #6a6d6e;
  --gray6: #4d4f51;
  --dark: #252729;
  --darker: #18191a;
  --dirty-snow: #c7ecf7;
  --overlay-transparency: rgba(0, 0, 0, 0.3);
}

/* = COLOR USAGE = */

:not(a) {
  color: var(--snow2);
}

.bg-default {
  background-color: var(--primary-color);
}

.bg-dark {
  background-color: var(--primary-dark-color);
}

.text-alternative {
  color: var(--gray2);
}

.bg-alternative {
  background-color: var(--secondary-color);
}

.menu-link:hover {
  background-color: var(--secondary-color);
}

a,
p a {
  color: var(--accent-color-2);
  transition: all 0.2s ease;
}

a:hover {
  filter: invert(10%);
}

.text-alternative {
  color: var(--dirty-snow);
}

/* = UI ELEMENTS = */

.subtitle {
  padding: 0.9rem;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  color: var(--dirty-snow);
  text-transform: uppercase;
  border-bottom: 0.0625rem solid var(--dirty-snow);
}
