/* = Containers = */

.page,
.container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: var(--max-page-width);
}

.page.full,
section.full {
  padding: 0;
  min-width: 100%;
  max-width: 100%;
}

/* = Texts = */

.subtitle {
  padding: 0.9rem;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  color: var(--dirty-snow);
  text-transform: uppercase;
  border-bottom: 0.0625rem solid var(--dirty-snow);
}

.text-default {
  color: var(--snow2);
}

.text-alternative {
  color: var(--dirty-snow);
}

/* = Links = */

.menu-link:hover {
  background-color: var(--secondary-color);
}

a {
  transition: all 0.2s ease;
  color: var(--accent-color-2);
}

a:hover {
  filter: invert(10%);
}

/* = Color helpers = */

.bg-default {
  background-color: var(--primary-color);
}

.bg-alternative {
  background-color: var(--secondary-color);
}

.bg-dark {
  background-color: var(--primary-dark-color);
}

/* = Structural helpers = */

.is-hidden {
  display: none;
}

.content-separator {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.content-separator.primary-dark path {
  fill: var(--primary-dark-color);
}

.content-separator.inverted {
  transform: scaleX(-1);
}
